body {
      font-family: Optima, sans-serif;
      margin: 0;
      padding: 0;
}

.container {
      width: 100%;
      height: 100%;
      position: absolute;
}

#title {
      color: #000;
      display: block;
}

h1 {
      font-size: 40px;
      text-align: center;
      margin: 0;
      padding: 10px;
      clear: both;
}

.astext {
      background:none;
      border:none;
      margin:0;
      padding:0;
      font-family: Optima, sans-serif;
      font-size: 18px;
      color: #117;
      cursor: pointer;
}

.astext:hover {
      color: white;
}

#score {
      font-size: 70px;
      padding: 20px;
      display: inline;
      text-align: center;
      color: black;
}

p {
      font-size: 18px;
      text-align: center;
      margin: 0;
      padding: 10px;
}

a {
      color: #117;
      text-decoration: none;
}

#different {
      color: white;
}

#same {
      color: #ccc;
}

#sky {
      background: #BAECF2;
      color: #000;
      height: 60%;
}

#play {
      display: block;
      width: 100%;
}

.people {
      position: absolute;
      color: black;
      font-size: 40px;
      bottom: 35%;
}

#thrower_subject{
      margin-left: 15px;
      display: inline-block;
}

.stack {
      list-style-type: none;
}

#disc {
      position: absolute;
      background: white;
      width: 100px;
      height: 25px;
      text-align: center;
      vertical-align: center;
      border-radius: 3px;
      display: inline-block;
      font-size: 20px;
      margin-left: 20px;
      padding: 5px;
}

#catcher_sky {
      margin-right: 30px;
      display: inline-block;
      right: 5%;
}

#catch_grass {
      position: absolute;
}

#grass {
      background: #80CD58;
      color: white;
      height: 40%;
      padding-top: 75px;
}

#catcher_grass {
      position: absolute;
      color: black;
      display: inline-block;
      margin-right: 30px;
      font-size: 40px;
      bottom: 40%;
      right: 0%;
}

#catch_grass {
      position: absolute;
}

#info {
      position: absolute;
      bottom: 5px;
      left: 15px;
      display: block;
      width: 100%;
      font-size: 20px;
      color: #ccc;
}
